{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noticias</title>
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body>

  <div class="page">
    <div class="blur blur1"></div>
    <div class="blur blur2"></div>
    <div class="blur blur3"></div>
    <div class="blur blur4"></div>
    <div class="blur blur5"></div>

    <header>
      <a href="{% url 'index' %}" class="brand">
        <img src="{% static 'core/IMG/logo.png' %} " alt="Logo Educar para Transformar">

        <div>
          <div class="brand-title">Educar para Transformar</div>
          <div class="brand-subtitle">Centro Educativo</div>
        </div>
      </a>

      <nav>
        <a href="{% url 'niveles' %}">Niveles educativos</a>
        <a href="{% url 'bienestar' %}">Bienestar estudiantil</a>
        <a href="{% url 'noticias' %}">Noticias</a>
        <a href="{% url 'inscripcion' %}">Inscripción a cursado</a>
        <a href="{% url 'contacto' %}">Contacto</a>
      </nav>

      <div class="login">
        <a href="{% url 'login' %}">Iniciar sesión</a>
      </div>
    </header>

    <main>

      <section class="hero">
        <h1>Noticias institucionales</h1>

        <p>
          Enterate de las últimas novedades, actividades y eventos
          relacionados con nuestra comunidad educativa.
        </p>
      </section>

    <section class="cards">

        {% for noticia in noticias %}

        <div class="card">

          <img
            src="/media/{{ noticia.imagen }}"
            alt="Noticia institucional"
            class="card-image">

            <div class="card-content">

                <div class="card-title">
                    <div class="icon icon-blue">📰</div>
                    <span>{{ noticia.titulo }}</span>
                </div>

                <p>
                    {{ noticia.contenido }}
                </p>

                <small class="fecha-noticia">
                    {{ noticia.fecha_publicacion|date:"d F Y" }}
                </small>

            </div>

        </div>

        {% endfor %}

    </section>

    </main>

  </div>

</body>
</html>